/* Navbar.css */
.side-navbar {
    position: fixed;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 10;
}

.nav-button {
    background-color: #ccc;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.3s;
}

.nav-button:hover {
    background-color: #999;
}

.nav-button.active {
    background-color: #000; 
    color: #fff;
    font-weight: bold;
}
